<div class="admin-container">
  <h2>👨‍💼 Liste des agents de saisie</h2>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 agents-table">

    <!-- Nom -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let a">{{ a.nom }}</td>
    </ng-container>

    <!-- Prénom -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
      <td mat-cell *matCellDef="let a">{{ a.prenom }}</td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let a">{{ a.email }}</td>
    </ng-container>

    <!-- Login -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let a">{{ a.login }}</td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let a">
        <button mat-icon-button color="warn" (click)="supprimerAgent(a.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5"></mat-paginator>
</div>
