<mat-sidenav-container class="dashboard-container">
  <!-- 🧭 Menu latéral -->
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/ajouter" routerLinkActive="active-link">
        ➕ Ajouter un visiteur
      </a>
      <a mat-list-item routerLink="/visiteurs" routerLinkActive="active-link">
        📋 Liste des visiteurs
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- 🧾 Contenu principal -->
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
